{% load static %}
{% include 'header.html' %}
        <!-- HERO START -->
        <div class="container col-xxl-12 px-4 py-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
              <div class="col-10 col-sm-8 col-lg-6">
                <img src="{%static '/assets/hero_vector.jpg' %}" class="d-block mx-lg-auto img-fluid" alt="hero" width="900" height="700" loading="lazy">
              </div>
              <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">We are thrilled to help you plan your next adventure. </h1>
                <p class="lead">Our website offers a wide range of travel options, from flights and hotels to tours and activities. You can easily search and compare prices to find the best deals for your desired destination. We also provide reviews and recommendations from fellow travelers to help you make informed decisions.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                  <button type="button" class="btn btn-warning btn-lg px-4 me-md-2">Contact Us</button>
                </div>
              </div>
            </div>
          </div>
        <!-- HERO END -->
        

        <!-- SERVICES START -->
        <div class="container px-4 py-5" id="hanging-icons">
          <h2 class="pb-2 border-bottom">Services</h2>
          <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <div class="col d-flex align-items-start">
              <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
              </div>
              <div>
                <h3 class="fs-2">Search Flights:</h3>
                <p>We partner with major airlines to offer the best deals on flights. You can easily search and compare prices for different airlines and choose the one that suits your needs.</p>
                <a href="#" class="btn btn-primary">
                  Book Now
                </a>
              </div>
            </div>
            <div class="col d-flex align-items-start">
              <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"/></svg>
              </div>
              <div>
                <h3 class="fs-2">Book Hotels</h3>
                <p>We have a vast selection of hotels, resorts, and other accommodations for you to choose from. You can search by location, star rating, and price to find the perfect place to stay.</p>
                <a href="#" class="btn btn-primary">
                  Book Now
                </a>
              </div>
            </div>
            <div class="col d-flex align-items-start">
              <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"/></svg>
              </div>
              <div>
                <h3 class="fs-2">Travel Guides:</h3>
                <p>Our travel guides provide valuable information about different destinations, including local customs, top attractions, and popular restaurants. You can also find helpful tips for navigating the area and making the most of your Book Now</p>
                <a href="#" class="btn btn-primary">
                  Book Now
                </a>
              </div>
            </div>
          </div>
        </div>      
        <!-- SERVICES END -->

        <!-- PACKAGES START -->
        <class="container px-4 py-5" id="custom-cards">
          <h2 class="pb-2 border-bottom">Packages</h2>
      
          <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5 overlay">
            {% for i in packages %}
            <div class="col">
              <a href="package/{{i.slug}}"><div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('static/assets/{{i.image.url}}');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                  <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{i.title}}</h3>
                  <ul class="d-flex list-unstyled mt-auto">
                    <li class="d-flex align-items-center me-3">
                      <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                      <small class="badge bg-success-subtle border border-success-subtle text-success-emphasis rounded-pill">Rs. {{i.price}}</small>
                    </li>
                    <li class="d-flex align-items-center">
                      <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                      <small class="badge bg-success-subtle border border-success-subtle text-success-emphasis rounded-pill">{{i.days}} Days</small>
                    </li>
                  </ul>
                </div>
              </div></a>
              </div>
              {% endfor %}
              </div>
        <!-- PACKAGES END -->


        <!-- CONTACT START -->
        <div class="container px-4 py-5">
        <h2 class="pb-2 border-bottom">Contact</h2>
<br>

      <div class="col-6">

        <form method="post">
          {% csrf_token %}
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Name</label>
            <input type="text" class="form-control" name="name">
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control"  name="email">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>

          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Message</label>
            <textarea class="form-control"  rows="3" name="message"></textarea>
          </div>
          <button class="btn btn-warning btn-md" type="submit">Send</button>
        </form>
      </div>
    </div>     
      <!-- CONTACT END -->

      {% include 'footer.html' %}
